*{
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: darkkhaki;
    font-family: Georgia, Times, 'Times New Roman', serif;
    background: #ADD8E6 url("imagen/fondo de pantalla.png") 50% 25% fixed;
}

.contenedor {
    width: 90%;
    max-width: 100px;
    margin: 20px auto;
}

.contenedor article {
    line-height: 28px;
}

.contenedor article h1 {
    font-size: 30px;
    text-align: left;
    padding: 50px 0;
}

.contenedor article .btn-abrir-popup {
    padding: 0 20px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: lightskyblue;
    background: cornflowerblue;
    border-radius: 3px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
    background-color: rgb(120 220 245);
}

/* ------------------------ */
/* POPUP */
/* ------------------------ */
.overplay {
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    background: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
}
/* ------------------------ */
/* ANIMACIONES */
/* ------------------------ */